nav {
    display: grid;
    position: relative;
    top: 0px;
    grid-template-columns: auto auto;
    grid-template-areas:
    "nLeft nRight";
    
}

.navLeft {
    grid-area: nLeft;
    justify-self: start;
}

.navRight {
    grid-area: nRight;  
    justify-self: end;
}
.centered {
    display: block;
    margin: auto;
}

form {
    text-align: center;
}

#clck  {display: grid;
position: relative;
width: 100%;
grid-template-columns: auto auto;
grid-template-areas:
"Search Lucky";
justify-items: center;
    }

    #srchbttn {
        grid-area: Search;
        justify-self: end;
    }
    
    #lckbttn {
        grid-area: Lucky;  
        justify-self: start;
    }


footer {
    display: grid;
    position: fixed;
    bottom: 0px;
    width: 100%;
    grid-template-columns: auto auto;
    grid-template-areas:
    "Left Right";
    
}

.footLeft {
    grid-area: Left;
    justify-self: start;
}

.footRight {
    grid-area: Right;  
    justify-self: end;
}